@font-face 
  font-family: 'lemon_tuesdayregular'
  src: url('../fonts/lemon_tuesday-webfont.woff2') format('woff2'), url('../fonts/lemon_tuesday-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

body
  margin 0
  padding 0
  font-family 'lemon_tuesdayregular'

@import '../blocks/header/header.styl'